<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <style></style>
    <script type="text/javascript">
        function ajaxSend() {
            var test = new Object();
            $.ajax(
                    {
                        type: 'POST',
                        url: '/Status',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            /*$('#instanceTable > tbody:last').append('<tr><td>안녕 친구들 </td><td>' + data.test + '</td></tr>');*/
                            /*$table.bootstrapTable('insertRow', {
                                index:1,
                                row:{
                                    id:'hihi',
                                    name:data.test
                                }
                            })*/
                            $('#instanceTable').append('<tr><td>' + data.city1 + '</td><td>' + data.raw1 + ' </td></tr>'
                                    +'<tr><td>' + data.city2 + '</td><td>' + data.raw2 + ' </td></tr>'
                                    +'<tr><td>' + data.city3 + '</td><td>' + data.raw3 + ' </td></tr>'
                                    +'<tr><td>' + data.city4 + '</td><td>' + data.raw4 + ' </td></tr>');

                        },
                        error: function (request, status, error) {
                            console.log('code: ' + request.status + "\n" + 'message: ' + request.responseText + "\n" + 'error: ' + error);
                        }
                    })
        }

        //
        // window.onload = function () {
        //     ajaxSend()
        // }
        $(document).ready(function () {
            ajaxSend()
        });
    </script>
</head>
<body>
<h1> Status</h1>
<div>
    <table class="table table-bordered" id="instanceTable">
        <tr>
            <th data-field="id">City</th>
            <th data-filed="name">Data</th>
        </tr>
    </table>

    <div>
</body>
</html>